.main-footer {
    color: gray;
    background-color: white;
    padding-top: 3em;
    position:relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 25%;
    display: flex;
    align-items: center;

}