.name {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: top;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.picture1{
  height: 10%;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: right ;
  border-radius: 25px;
  margin: 20px;
  
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: bottom;
  justify-content: center;
  
}


