
body {
  background-color: #282c34;
}
.name1 {
  color: antiquewhite;
  box-sizing: border-box;
  width: 100%;
  border: solid antiquewhite 10PX;
  padding: px;
  margin: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 55px;
  font-style: Arial;
}

.container {
  position: fixed;
 
}
.container1{
  background: #282c34;
  width: 100%;
  
}


.form {
  box-sizing: border-box;
  width: 25%;
  border: solid antiquewhite 10PX;
  padding: 5PX;
  margin: 10px;
  background-color: #282c34;

}

.picture1{
  height: 10%;
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: right ;
  border-radius: 75px;
  margin: 20px;
  
}

.main-footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: beige 20px;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;

    clear: both;
    letter-spacing: .3px;
    padding: 0 0 1.875rem;
  }

  .content-wrap-center {
  display: flex;
  align-items: center;
  color: antiquewhite;
  font-family: cursive;
  }

  .header-photos {
  min-height: 25%;
  display: flex;
  align-items: center;
  width: 100%;
  }

  .maincenter{
    background-color: #282c34;
   
   

  }

.footer-hours {
  margin-left: 250px;
}



